* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(186, 203, 204);
}

.container {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  background-color: transparent;
  row-gap: 20px;
}

.box {
  min-width: 200px;
  width: 200px;
  height: 250px;
  box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  border: 1px solid lightgrey;
  background-color: #fff;
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  display: block;
}

.box .back {
  width: 100%;
  height: 190px;
  background-color: rgb(155, 224, 85);
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box .back .copy {
  width: 140px;
  height: 40px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
  padding: 10px;
  text-align: center;
  transition: all 0.4s ease-in-out;
  border-radius: inherit;
  letter-spacing: 1px;
  display: none;
  box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.2);
  opacity: 0;
  margin-top: 100px;
}

.box .back .copy.active {
  display: block;
  margin-top: 0;
  opacity: 1;
}

.box .color {
  width: 100%;
  background-color: #fff;
}

.box .color p {
  font-size: 16px;
  color: #333;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 15px 0;
}

.box:hover {
  box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}

button {
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  background-color: rgb(182, 47, 182);
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  margin: 20px auto;
  display: block;
  cursor: pointer;
  font-weight: 600;
}
